.navbar {
  position: static;
  padding: 0;
  display: block;
  text-align: center;
}

.navbar ul {
  display: block;
}

.navbar li {
  border-bottom: #444 solid 1px;
  padding: 10px 0;
}

.content {
  height: 50%;
}

.content h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.content h3 {
  padding-bottom: 1rem;
  font-size: 1rem;
}

.icon-container {
  height: 50vh;
}

#solution {
  flex-direction: column;
  height: 100vh;
}

#solution-content {
  align-items: center;
}

#solution-content h3 {
  padding-bottom: 5px;
  font-size: 1rem;
}

#solution-content h1 {
  padding-bottom: 10px;
  font-size: 1.5rem;
}

#cases {
  padding: 20px 0px;
}

#cases h4 {
  padding-bottom: 10px;
}

#cases h1 {
  padding-bottom: 10px;
  font-size: 1.5rem;
}

#blog {
  height: 90vh;
  flex-direction: column;
}

#blog-content-column-flex {
  padding: 0 10px;
  align-items: center;
  text-align: center;
}

#contact {
  height: 80vh;
}
