body {
  overflow-y: auto;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  color: #fff;
  width: 100vw;
  height: 12vh;
  padding: 0 30px;
  margin-right: 10px;
  background: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.8;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  padding: 0px 10px;
  font-size: 1.2rem;
}

.navbar a:hover {
  border-bottom: #93cb52 2px solid;
}

.hero {
  background: url("../images/home/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
}

.content h1 {
  padding-bottom: 2rem;
  font-size: 3rem;
  color: #f0f3f4;
}

.content h3 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: #f0f3f4;
}

.content a {
  text-decoration: none;
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero * {
  z-index: 10;
}

.icon-container {
  display: flex;
  align-items: center;
  height: 40vh;
}

.banking {
  flex: 1;
  text-align: center;
}

.manager {
  flex: 1;
  text-align: center;
}

.tax {
  flex: 1;
  text-align: center;
}

.banking i {
  margin-bottom: 20px;
  background: #28a745;
  padding: 1rem;
  border-radius: 100%;
  color: #fff;
}

.manager i {
  margin-bottom: 20px;
  background: #28a745;
  padding: 1rem;
  border-radius: 100%;
  color: #fff;
}
.tax i {
  margin-bottom: 20px;
  background: #28a745;
  padding: 1rem;
  border-radius: 100%;
  color: #fff;
}

.banking h1 {
  margin-bottom: 20px;
}

.manager h1 {
  margin-bottom: 20px;
}

.tax h1 {
  margin-bottom: 20px;
}

#solution {
  display: flex;
  height: 70vh;
}

#solution-img {
  background: url("../images/home/people.jpg") no-repeat center center/cover;
  flex: 1;
}

#solution-content {
  flex: 1;
  padding: 0 20px;
  background-color: #28a745;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#solution-content h3 {
  padding-bottom: 10px;
}

#solution-content h1 {
  padding-bottom: 10px;
  font-size: 2.5rem;
}

#solution-content p {
  line-height: 1.5rem;
  padding-bottom: 10px;
}

#solution-content a {
  border: 1px #fff solid;
  width: 115px;
  text-decoration: none;
  color: #fff;
}

#cases {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#cases h4 {
  padding-bottom: 20px;
}

#cases h1 {
  padding-bottom: 20px;
  font-size: 2.5rem;
}

#cases p {
  padding-bottom: 20px;
}

#cases img:hover {
  opacity: 0.7;
}

.row-1 {
  margin: 0 0.5vw 0.5vw 0.5vw;
  font-size: 0;
  display: flex;
  flex-flow: row wrap;
}

.row-1 div{
  flex:auto;
  width: 200px;
  height: 200px;
  margin: 0.5vw;
}

.row-1 div img{
  width: 100%;
  height: 100%;
}

.row-2 {
  margin: 0 0.5vw 0.5vw 0.5vw;
  font-size: 0;
  display: flex;
  flex-flow: row wrap;
}

.row-2 div{
  flex:auto;
  width: 200px;
  height: 200px;
  margin: 0.5vw;
}

.row-2 div img{
  width: 100%;
  height: 100%;
}
