.navbar {
    color: #fff;
    height: 15vh;
    padding: 0 0.7rem;
    background: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.8;
}

.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    padding: 0px 10px;
    font-size: 1.2rem;
}


.navbar a:hover{
    border-bottom: #93cb52 2px solid;
}

.hero{
    background: url("../images/home/showcase.jpg") no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
}


