*{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    box-sizing: border-box;
}

.text-primary{
    color: #93cb52;
}

.text-secondary{
    color: #6a9439;
}

.btn-primary{
    padding: 10px 20px;
    background: #6a9439;
}

.btn-primary:hover{
    background: #93cb52;
}

.btn-secondary{
    padding: 10px 20px;
    background: #6a9439;
}


