*{
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
  box-sizing: border-box;
}

.text-primary {
  color: #93cb52;
}

.text-secondary {
  color: #28a745;
}

.btn-primary {
  padding: 10px 25px;
  background: #93cb52;
  border: none;
  border-radius: 5px;
}

.btn-primary:hover {
  opacity: 0.8;
  color: #000;
}

.btn-secondary {
  padding: 10px 25px;
  background: #28a745;
  border: none;
  border-radius: 5px;
}

.btn-secondary:hover {
  opacity: 0.8;
  color: #000;
}
